@model List<MovieViewModel>


<h1 class="text-light"> Movie List</h1>

<div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3 " onclick="window.location.href='/Movie/Details/@item.Id';">
            <div class="card m-2 bg-secondary" style="width: 20rem ">
                <img class="card-img-top p-1" style="width: 20rem ; height: 30rem" src="@item.GetBigImage()" alt="@item.Title image">
                <div class="card-body">
                    <h5 class="card-title text-black">@item.Title</h5>
                    <p class="card-text text-black">@item.GetSubstring(32)</p>

                </div>
            </div>
        </div>

        }
        </div>




